/* html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

body {
  margin: auto;
}

/* p {
  margin-bottom: 0;
} */

hr {
  border-top: 1px solid black;
  width: 10%;
  display: flex;
  align-items: center;
}

.booklist {
  display: flex;
  background-color: red;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  font-size: 0.8rem;
  margin: 15px 0;
  width: 500px;
  
}

.container {
  display: flex;
 
  width: 500px;
}

